// Main Colors
$white: #fff;
$black: #000;
$offWhite: #e4e4e4;

// Font Size
$mainFontSize: 16px;

// Font Weight
$normal: 400;

// Font Family
$mainFont: 'Open Sans', monospace;

// Content width
$container-max-widths: (
	xl: 1300px
);

$paddingWidth: 20px;

// Break Points
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

// Columns
$grid-columns: 12;
$grid-gutter-width-base: 20px;

// Transition Time and Ease
$time: .3s ease-in-out;
$all: all $time;

// Image path
$imagePath: '../img/';